{% extends 'admin/layout.html.twig' %}
{% block title %}Details commande # {{ order.id }}{% endblock title %}

{% block admin_content %}
<header class="mb-5">
    <h1>Details commande # {{ order.id }}</h1>
</header>

<div class="row mb-5">
    <div class="col-4">
        <p>Le {{ order.dateCreated|date() }}</p>
        <p>Paiement: {{ order.transaction.method }}</p>
    </div>
    <div class="col-4">
        {{ form_start(form) }}
            {{ form_row(form.status, {
                'label': 'statut',
            }) }}
            {{ form_row(form.trackingNumber, {
                'label': 'Numéro de suivi',
                'required': false,
            }) }}
            <input type="submit" value="Valider" class="btn btn-primary">
        {{ form_end(form) }}
    </div>
</div>

<section class="row addresses mb-5">
    <section class="shipping col-md-4">
        <header>
            <h4>Adresse de livraison</h4>
        </header>
        <div>
            {% set shipping = order.shippingAddress %}
            {{ order.user.firstName }}
            {{ order.user.lastName }}<br>
            {{ shipping.address1 }}<br>
            {% if shipping.address2 is not null %}
                {{ shipping.address2 }}<br>
            {% endif %}
            {{ shipping.postCode}}<br>
            {{ shipping.city }}<br>
            <span>Tel:</span> {{ shipping.phone }}<br>
        </div>
    </section>

    <section class="billing col-md-4">
        <header>
            <h4>Adresse de facturation</h4>
        </header>
        <div>
            {% set billing = order.billingAddress %}
            {{ order.user.firstName }}
            {{ order.user.lastName }}<br>
            {{ billing.address1 }}<br>
            {% if billing.address2 is not null %}
                {{ billing.address2 }}<br>
            {% endif %}
            {{ billing.postCode}}<br>
            {{ billing.city }}<br>
            <span>Tel:</span> {{ shipping.phone }}<br>
        </div>
    </section>
</section>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-md-6 col-lg-4">Produit</th>
            <th class="col-md-2 col-lg">Prix</th>
            <th class="col-md-2 col-lg">Quantité</th>
            <th class="col-md-2 col-lg">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.products %}
            <tr class="row">
                <td class="col-md-6 col-lg-4">
                    <div class="row">
                    {% set thumb = product.product.images|first %}
                        <div class="col-md">
                            <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="img img-fluid">
                        </div>
                        <div class="col-md">
                            {{ product.product.name }}
                        </div>
                    </div>
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.product.price }} €
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.quantity }}
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.product.price * product.quantity }} €
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: {{ order.transaction.total }} €</p>

{% endblock %}
