{% extends 'admin/layout.html.twig' %}
{% block title %}{{ title }}{% endblock title %}

{% block admin_content %}
    <header class="mb-4 d-flex align-items-center justify-content-between">
        <h1>{{ title }}</h1>
        {% if form.vars.data.id is not empty %}
            <a href="{{ path('product_delete', {'id': form.vars.data.id }) }}" class="delete-product btn btn-danger">Supprimer</a>
        {% endif %}
    </header>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.price) }}
        {{ form_row(form.weight) }}
        <h3>Images</h3>
        <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for image in form.images %}
                <li>{{ form_row(image.file) }}</li>
                <li>{{ form_row(image.description) }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Valider" class="btn btn-primary">
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="/js/productEditor.js"></script>
{% endblock %}
