{% extends 'shop/layout.html.twig' %}
{% block title %}Home{% endblock title %}

{% block shop_content %}

<div class="row">
    {% for product in products %}
        <article class="product-card col-4 p-4">
            <header class="product-card__header">
                {% set thumb = product.images|first %}
                <a href="/product/{{ product.id }}">
                    <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="product-card__image img img-fluid">
                </a>
                <h4 class="product-card__heading">
                    <a href="/product/{{ product.id }}" class="product-card__link">
                        {{ product.name }}
                    </a>
                </h4>
            </header>
            <div class="product-card__body">
                {{ product.description }}
            </div>
            <footer class="product-card__footer">
                € {{ product.price }}
            </footer>
        </article>
    {% endfor %}
</div>

{% endblock %}
