{% extends 'shop/layout.html.twig' %}
{% block title %}Home{% endblock title %}

{% block shop_content %}

<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <article class="card">
                {% set thumb = product.images|first %}
                <a href="/product/{{ product.id }}">
                    <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="product-card__image img img-fluid">
                </a>
                <div class="card-body d-flex justify-content-between">
                    <h4 class="product-card__heading">
                        <a href="/product/{{ product.id }}" class="product-card__link">
                            {{ product.name }}
                        </a>
                    </h4>
                    <span>€ {{ product.price }}</span>
                </div>
            </article>
        </div>
    {% endfor %}
</div>

{% endblock %}
