<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-commerce{% endblock %}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="">
        <header class="bg-white">
            <nav class="navbar navbar-light">
                <button class="btn d-block d-md-none" data-toggle="collapse" data-target="#sidebar">
                    <i class="fas fa-bars"></i>
                </button>
               
                <a href="{{ path('index') }}" class="navbar-brand">Brand</a>
                
                <div class="nav-right d-flex mx-2">
                    <div class="dropdown pr-2 mr-2">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% set href = path('user_account') %}
                        {% else %}
                            {% set href = path('user_welcome') %}
                        {% endif %}
                        <a href="{{ href }}" class="text-secondary">
                            <i class="far fa-user"></i>
                        </a>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin_index') }}">Administration</a>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="dropdown-item" href="{{ path('security_logout' )}}">Déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
              
                    <a class="basket-link mx-2" href="{{ path('basket_show') }}">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="basket-count d-flex justify-content-center align-items-center">
                            <span class="text-white">
                                {{ render(controller('App\\Controller\\BasketController::productCount')) }}
                            </span>
                        </div>
                    </a>
                </div>
            </nav>
        </header>
        
        {% if app.request.attributes.get('_route') == 'index' %}
            <div class="hero"></div>
        {% endif %}
        
        {% block breadcrumb %}{% endblock breadcrumb %}

        {% if app.session.flashbag.peekAll is not empty %}
            <div class="flash container mt-2" id="flash">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            <span class="font-weight-bold">{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <footer class="footer mt-5">
            <div class="footer__upper py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md">
                            <ul class="footer__nav p-0">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Moyens de paiment</a></li>
                                <li><a href="#">Livraison</a></li>
                                <li><a href="#">Conditions générales de vente</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md">
                            <p>Retrouvez nous sur:</p>
                            <ul class="d-flex flex-row social-icons p-0">
                                <li class="mx-1 border">
                                    <a href="#" class="social-link d-flex justify-content-center align-items-center">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="mx-1 border">
                                    <a href="#" class="social-link d-flex justify-content-center align-items-center">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mx-1 border">
                                    <a href="#" class="social-link d-flex justify-content-center align-items-center">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-lower bg-white">
                <div class="container d-flex justify-content-between align-items-center border-top">
                    <span class="p-4 text-secondary">Copyright © 2018 Mathieu Coudurier</span>
                    <div class="footer-img">
                        <img class="px-2" src="/img/visa.png" alt="visa">
                        <img class="px-2" src="/img/paypal.png" alt="paypal">
                        <img class="px-2" src="/img/mastercard.png" alt="mastercard">
                    </div>
                </div>
            </div>
            {% block footer %}{% endblock %}
        </footer>
        <script src="/js/flash.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
