{{ form_row(address_form.address1, {
    'label': 'Rue',
}) }}
{{ form_row(address_form.address2, {
    'label': 'Complément',
    'required': false,
    'attr': {
        'placeholder': 'appartement, étage, escalier, etc.',
    },
}) }}
<div class="form-row">
    <div class="col form-group">
        {{ form_label(address_form.postCode, 'Code postal') }}
        {{ form_widget(address_form.postCode) }}
    </div>
    <div class="col form-group">
        {{ form_label(address_form.city, 'Ville') }}
        {{ form_widget(address_form.city) }}
    </div>
</div>
{{ form_row(address_form.phone, {
    'label': 'Téléphone',
    'required': false,
}) }}
