{% extends 'base.html.twig' %}
{% block title %}Panier{% endblock %}

{% block main %}

<h1 class="my-4">Mon panier</h1>

{% if products is empty %}
    <div class="basket-empty">
        <p>Votre panier est vide</p>
        <a href="/" class="btn btn-info">Continuer mes achats</a>
    </div>
{% else %}
    <div class="basket-products mb-4">
        {% for product in products %}
            <div class="basket-product row border-bottom py-2">
                {% set thumb = product.images|first %}
                <div class="col">
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="basket-product__img img img-fluid">
                    </a>
                </div>
                <div class="col">
                    <span class="basket-product__name">
                        {{ product.name }}
                    </span>
                </div>
                <div class="col">
                    <input class="basket-product__quantity form-control" type="number" name="quantity" data-target-id="{{ product.id }}" min="1" value="{{ product.quantity }}">
                </div>
                <div class="col">
                    <span class="basket-product__price" data-target-id="{{ product.id }}">
                        € {{ product.calcTotalPrice }}
                    </span>
                </div>
                <div class="col">
                    <a href="/basket/remove/{{ product.id }}" class="basket-product__remove">supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="basket-checkout ml-auto">
            <p class="basket-checkout__total">
                Total: <span class="basket-checkout__total-price">{{ totalPrice }}</span> €
            </p>
            <a href="{{ path('paypal_checkout') }}" class="basket-checkout__order btn btn-primary">Commander</a>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="js/basket.js"></script>
{% endblock %}
