{% if error %}
    <div class="invalid-feedback d-block">
        <span class="initialism form-error-icon badge badge-danger">Erreur</span>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

{{ form_start(loginForm) }}
    {{ form_row(loginForm.username, {'full_name': '_email', 'value': lastUserName}) }}
    {{ form_row(loginForm.plainPassword, {'full_name': '_password'}) }}
{{ form_end(loginForm) }}
